.container {
	margin-top: var(--spacing-4);
	display: flex;
	align-items: center;
	margin-inline: auto;
	width: 100dvw;
	max-width: 1250px;
	flex-direction: column;
}

.container h2 {
	color: var(--secondary-color);
}
