.section {
	text-wrap: pretty;
}

.section h2 {
	margin-bottom: var(--spacing-1);
	color: var(--secondary-color);
}

.section h3 {
	color: var(--secondary-color);
	margin-top: var(--spacing-4);
}

.section h4 {
	color: var(--secondary-color);
	margin-top: var(--spacing-2);
	margin-bottom: var(--spacing-1);
}

.section p:nth-child(6),
.section p:nth-child(7) {
	margin-top: var(--spacing-2);
}

.section ul {
	margin-left: 1rem;
	list-style-type: disc;
	& li {
		margin-block: var(--spacing-1);
	}
}
