.gridLayout {
	display: grid;
	width: fit-content;
	height: fit-content;
	gap: var(--spacing-2);
	grid-template-columns: repeat(auto-fill, min-content);
	grid-template-rows: repeat(auto-fill, min-content);
}
