.clientQueue {
	display: flex;
	margin-top: var(--spacing-4);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-2);
}

.clientQueue h3 {
	margin-bottom: var(--spacing-4);
}
