dialog:not([open]) {
	display: none;
}

.modal {
	display: flex;
	flex-direction: column;
	padding-inline: var(--spacing-4);
	padding-block: var(--spacing-2);
	margin-inline: auto;
	margin-top: 25dvh;
	border-radius: var(--spacing-1);
	border: 1px solid var(--primary-color);
	& h2 {
		color: var(--secondary-color);
		padding-bottom: var(--spacing-5);
	}
	& button {
		margin-top: var(--spacing-10);
		margin-bottom: var(--spacing-1);
		margin-inline: auto;
	}
}

.modal::backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px) brightness(1.2);
	-webkit-backdrop-filter: blur(8px) brightness(1.2);
}
