:root {
	/* Color palette */
	--primary-color: #5890fc;
	--secondary-color: #9c4eff;
	--tertiary-color: #b17dfb;
	--white: #f7f7f7;
	--black: #212121;
	--light-grey: #e9e7e7;
	--medium-grey: #616161;
	--dark-grey: #414040;

	/* Text colors */
	--primary-text-color-light: var(--white);
	--secondary-text-color-light: var(--light-grey);
	--primary-text-color-dark: var(--black);
	--secondary-text-color-dark: var(--medium-grey);

	/* Background colors */
	--primary-background-color-light: var(--white);
	--secondary-background-color-light: var(--light-grey);
	--primary-background-color-dark: var(--black);
	--secondary-background-color-dark: var(--medium-grey);

	/* Square colors */
	--red: #ff6666;
	--dark-red: #990000;
	--orange: #fec457;
	--dark-orange: #ff7518;
	--yellow: #fefe86;
	--dark-yellow: #f3f32f;
	--green: #66ff66;
	--dark-green: #006600;
	--blue: #6666ff;
	--dark-blue: #000099;
	--pink: #ff99cc;
	--dark-pink: #cc0066;
	--brown: #d2b48c;
	--dark-brown: #5c4033;
	--cyan: #66ffff;
	--dark-cyan: #009999;
}
