:root {
	/* Font family */
	--font-family-base: "Montserrat", sans-serif;
	--font-family-heading: "Lato", sans-serif;

	/* Font size */
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */
	--font-size-xxl: 1.5rem; /* 24px */
	--font-size-3xl: 1.75rem; /* 28px */
	--font-size-4xl: 1.875rem; /* 30px */
	--font-size-5xl: 2rem; /* 32px */

	/* Font weight */
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;
}
